science-question {
    .science-question-wrapper {
        display: flex;
        font-family: Lato;
        .question-container {
            padding: {
                left: 25px;
                right: 25px;
            }

            .paragraph-title {
                position: relative;
            }

            p {
                font-weight: $lightFontWeight;
                line-height: 1.5em
            }

        }

        .answer-container {

            p {
                color: $fontColor3;
                line-height: 1.5em
            }
        }
    }
}
